#comment {
	font-size: 15px;
}

#comment_form {
	margin: 10px;
	font-size: 15px;
}

#comments_container {
	position: fixed;
	right: 0px;
	height: 23px;
	top: 150px;
	float: top;
	width: 30%;
}

#delete_button {
	background-color: red;
	border-radius: 12px;
	border: red;
	cursor: pointer;
}

#delete_button:hover {
	background-color: black;
	border-radius: 12px;
	border: red;
	cursor: pointer;
}

#upload_button {
	background-color: lightgreen;
	border-radius: 12px;
	border: green;
	cursor: pointer;
}

#upload_button:hover {
	background-color: blue;
	border-radius: 12px;
	border: blue;
	cursor: pointer;
}