#post {
	margin-top: 20px;
	font-size: 35px;
}

.center {
	margin: 20px;
	font-size: 15px;
	justify-content: left;
	text-align: left;
	align-items: left;
}

.newformtitle {
	font-size: 35px;
	margin: 5px;
}

#delete_button {
	background-color: red;
	border-radius: 12px;
	border: red;
	cursor: pointer;
}

#delete_button:hover {
	background-color: black;
	border-radius: 12px;
	border: red;
	cursor: pointer;
}

#upload_button {
	background-color: lightgreen;
	border-radius: 12px;
	border: green;
	cursor: pointer;
}

#upload_button:hover {
	background-color: blue;
	border-radius: 12px;
	border: blue;
	cursor: pointer;
}

#open_comments {
	width: 60%;
	height: 100px;
	font-size: 100%;
	cursor: pointer;
}